<div *ngIf="!gameOver; else gameOverComponent" class="game-container">
    <h4 style="margin-top: 20px;">score: {{ points }}</h4>
    <div *ngIf="this.configService.mode ==='hard'">
        <p>Wrong Guesses: {{ wrongGuesses }}/3</p>
    </div>
    <audio controls src="{{previewUrl}}">
    </audio>
<!--    <button (click)="play()">Play</button>-->
<!--    <button (click)="pause()">Pause</button>-->
    <div *ngFor="let item of items">
        <div (click)="check($event)" class="card" style="width: 200px; height: 100px; margin-top: 20px;">
            {{ item }}
        </div>
    </div>
    <button (click)="endGame()" class="btn btn-dark" style="margin-top: 30px">End Game</button>
</div>
<ng-template #gameOverComponent>
    <app-game-over [score]=points></app-game-over>
</ng-template>