.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    cursor: pointer;
    transition: .2s ease-out;
    width: 200px; 
    height: 100px; 
    margin-top: 20px;
}
.card:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    transform: translate3d(0,-2px,0);
}
