<div *ngIf="!gameOver; else gameOverComponent">
    <p>score: {{ points }}</p>
    <div *ngIf="this.configService.mode ==='hard'">
        <p>Wrong Guesses: {{ wrongGuesses }}/3</p>
    </div>

    <button (click)="play()">Play</button>
    <button (click)="pause()">Pause</button>
    <div *ngFor="let item of items">
        <button (click)="check($event)">{{ item }}</button>
    </div>
    <button (click)="endGame()">End Game</button>
</div>
<ng-template #gameOverComponent>
    <app-game-over [score]=points></app-game-over>
</ng-template>