<div class="config-container">
    <form>
        <div class="form-group row"></div>
            
            <h4>Name</h4>
            <div class="col-sm-10">
                <input [(ngModel)]="name" name="name" (ngModelChange)="setName($event)" style="width: 220px; height: 30px">
            </div>
            
            <h4 class="mode">Mode</h4>
            <div class="col-sm-10">
                <select [(ngModel)]="mode" (ngModelChange)="setMode($event)" name="mode" class="form-group mb-2" style="width: 220px; height: 30px">
                    <option value="easy">easy</option>
                    <option value="hard">hard</option>
                </select>
        </div>
        <button type="button" (click)="onSubmit()" class="btn btn-dark" style="margin-top: 20px">Submit</button>
        <p *ngIf="errorMessage" style="margin-top: 20px;"> {{ errorMessage }}</p>
    </form>
</div>

