<div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!authLoading && !configLoading">
  <div class="home">
    <h3 *ngIf="!configService.name">Welcome!</h3>
    <h3 *ngIf="configService.name" class="player-name">Player: {{ configService.name }}</h3>
    <h3 *ngIf="configService.mode">Mode: {{ configService.mode }}</h3>
    Genre:
    <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
      <option [value]=""></option>
      <option [value]="genre" *ngFor="let genre of genres">
        {{ genre }}
      </option>
    </select>
    <app-start-button (click)="onSubmit()" style="margin-top: 10px;"></app-start-button>
  </div>
</div>

<app-game-over></app-game-over>
<app-game [previewUrl]="previewUrl"></app-game>