<div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!gameStarted; else start">
    <div *ngIf="!authLoading && !configLoading">
        <div class="home">
            <h3 *ngIf="!configService.name" style="margin-top: 40px">Welcome!</h3>
            <h3 *ngIf="configService.name" class="player-name">Player: {{ configService.name }}</h3>
            <h4 *ngIf="configService.mode">Mode: {{ configService.mode }}</h4>
            Genre:
            <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
                <option [value]=""></option>
                <option [value]="genre" *ngFor="let genre of genres">
                    {{ genre }}
                </option>
            </select>
<!--            <div *ngIf="configService.name !== ''">-->
                <app-start-button [selectedGenre]="selectedGenre" (click)="onSubmit()" style="margin-top: 10px;" ></app-start-button>
<!--            </div>-->
            <p *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>
    </div>
</div>

<!--<app-game-over></app-game-over>-->
<ng-template #start>
    <app-game [previewUrl]="previewUrl" [items]="items" [getNextSong]="onSubmit"
              [correctAnswer]='songAndArtist'></app-game>
</ng-template>